#wrap{
  width:10000px;
}

  .view{
    float:left;
    margin: 20px;
    /* box-shadow */
    box-shadow:0px 0px 5px 0px #828282;
    -moz-box-shadow:0px 0px 5px 0px #828282;
    -webkit-box-shadow:0px 0px 5px 0px #828282;
    position: relative;
  }

    .mouseover_menu{
      position: absolute;
      z-index: 10;
      top: 0;right: 0;bottom: 0;left: 0;
      background-color: rgba(255,255,255,0.5);
      text-align: center;
    }

      .mouseover_menu .btn_close{
        float:right;
        margin: 10px;
        cursor: pointer;
        font-size: 50px;
        line-height: 20px;
      }

      .mouseover_menu p{
        margin-top: 100px;
      }

    .droparea{
      padding:100px;/*paddingで矩形領域を作成*/
      color: white;
      background-color: rgb(122, 122, 122);
    }

    img{
      width:100%;
    }
